<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrnSixEp3-gU3hr0rmeLJFbgTnBwAcGCY</string>
	<key>GCM_SENDER_ID</key>
	<string>882532195243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookswapApp</string>
	<key>PROJECT_ID</key>
	<string>bookswap-app-31c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>bookswap-app-31c5c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882532195243:ios:c1033deea33629542050ee</string>
</dict>
</plist>